<!DOCTYPE html>
<html lang="en">
<head>
    <title>Certgen | Created</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

<!-- Header -->
<section class="hero is-link">
    <div class="hero-body">
        <p class="title">
            Certgen - Created
        </p>
        <p class="subtitle">
            Now you can download your generated .pem and .der !
        </p>
    </div>
</section>

</body>
</html>