<!DOCTYPE html>
<html lang="en">
<head>
    <title>Certgen | Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<section class="hero is-link">
    <div class="hero-body">
        <p class="title">
            Certgen
        </p>
        <p class="subtitle">
            The best tool for certificate generation ever!
        </p>
    </div>
</section>

<div class="columns is-mobile is-centered">
    <div class="column is-half">
        <form action="#" th:action="@{/generateX509}" method="get">
            <div class="container"></div>
            <div class="field pt-3">
                <label class="label">Version</label>
                <div class="control">
                    <input class="input" type="text" th:name="version" placeholder="3 (0x2)">
                </div>
            </div>
            <div class="field pt-3">
                <label class="label">RSA Key Size</label>
                <div class="control">
                    <input class="input" type="text" th:name="rsaKeySize" value="2048"
                           placeholder="2048">
                </div>
            </div>
            <div class="field margin-top">
                <label class="label">Common Name</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-success" type="text" th:name="commonName"
                           placeholder="Example SHA2 High Assurance Server CA"
                           value="Example SHA2 High Assurance Server CA">
                    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
                    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
                </div>
                <p class="help is-success">This username is available</p>
            </div>
            <div class="field pt-3">
                <label class="label">Country</label>
                <div class="control">
                    <input class="input" type="text" th:name="country" value="DE"
                           placeholder="DE">
                </div>
            </div>
            <div class="field pt-3">
                <label class="label">Country</label>
                <div class="control">
                    <input class="input" type="date" th:name="validFrom">
                </div>
            </div>
            <div class="field pt-3">
                <label class="label">Country</label>
                <div class="control">
                    <input class="input" type="date" th:name="validTill">
                </div>
            </div>
            <div class="field pt-3">
                <label class="label">Distinguished Name: DN</label>
                <div class="control">
                    <input class="input" type="text" th:name="distinguishedName"
                           value="Example SHA2 High Assurance Server CA"
                           placeholder="Example SHA2 High Assurance Server CA">
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
                    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
                    <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
                </div>
                <p class="help is-danger">This email is invalid</p>
            </div>
            <div class="field">
                <label class="label">Subject</label>
                <div class="control">
                    <div class="select">
                        <select>
                            <option>Select dropdown</option>
                            <option>With options</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Message</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Textarea"></textarea>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox">
                        I agree to the <a href="#">terms and conditions</a>
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="question">
                        Yes
                    </label>
                    <label class="radio">
                        <input type="radio" name="question">
                        No
                    </label>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" type="submit">Submit</button>
                </div>
                <div class="control">
                    <button class="button is-link is-light">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>

<!--https://www.elastic.co/guide/en/ecs/master/ecs-x509.html-->